table.fixed {table-layout:fixed; width:110px;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td {width:36px;}/*Setting the width of column 1.*/

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
	text-align: right;
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color:#FFFFFF;
}

td.updated {
    background-color:#00FF00;
}
td.affected {
    background-color:#007F00;
}
td.error {
    background-color:#FF0000;
}
td.highlight {
    background-color:#33FFFF;
}

p {
    font-family: Lucida Console, monospace;
}
p.known {
	font-size:36px;
}
p.possible {
	font-size:12px;
}